
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Raporlama</h1>
<br />
<a href="/Excel/StaticExcelReport/" class="btn btn-outline-info">Excel Raporu</a>
<br />

